% include("header", title="Login")

<main class="flex-col">
    <h1>
        Login
    </h1>

    <form action="/login" method="post">

        %if error == "wrong_usercredentials":
        <p class="error">
            There is no user with this email and/ or password.
        </p>
        %end

        <div>
            <div>
                <label class="text-md text-b">Email</label>
                <input name="user_email" type="text" placeholder="Email" value="{{(user_email or '')}}">
            </div>
            %if error == "user_email":
            <p class="error">
                Enter a valid e-mail
            </p>
            %end

        </div>

        <div>
            %if error == "user_password":
            <p class="error">
                Enter a valid password
            </p>
            %end

            <label class="text-md text-b">Password</label>
            <input name="user_password" type="password" placeholder="Password" value="{{(user_password or '')}}">
        </div>

        <button>Login</button>
    </form>

</main>

% include("footer")