% include("header", title="Signup")

<main class="flex-col">
    <h1>
        Signup
    </h1>

    <form action="/signup" method="post">

        <div>
            <div>
                <label class="text-md text-b">First name</label>
                <input name="user_name" type="text" placeholder="Name" value="{{(user_name or '')}}">
            </div>
            %if error == "user_name":
            <p class="error">Add your first name</p>
            %end

        </div>

        <div>
            <div>
                <label class="text-md text-b">Last name</label>
                <input name="user_lastname" type="text" placeholder="Last name" value="{{(user_lastname or '')}}">
            </div>
            %if error == "user_lastname":
            <p class="error">
                Add your last name
            </p>
            %end
        </div>

        <div>
            <div>
                <label class="text-md text-b">E-mail</label>
                <input name="user_email" type="text" placeholder="Email" value="{{(user_email or '')}}">
            </div>

            %if error == "user_email":
            <p class="error">
                Enter a valid e-mail
            </p>
            %end
        </div>

        <div>
            <div>
                <label class="text-md text-b">Password</label>
                <input name="user_password" type="password" placeholder="Password">
            </div>
            <p class="text-support">(min 6, max 50 characters)</p>

            %if error == "user_password":
            <p class="error">
                Enter a valid password
            </p>
            %end
        </div>

        <button>Signup</button>
    </form>

</main>

% include("footer")