% include("header", title="Signup")

<main>
    <h1>
        Signup
    </h1>

    <form action="/signup" method="post">

        <div>
            <label>First name</label>
            <input name="user_name" type="text" placeholder="name" value="{{(user_name or '')}}">
        </div>

        %if error == "user_name":
        <p class="error">Add your first name</p>
        %end

        <div>
            <label>Last name</label>
            <input name="user_lastname" type="text" placeholder="last name" value="{{(user_lastname or '')}}">
        </div>

        %if error == "user_lastname":
        <p class="error">
            Add your last name
        </p>
        %end

        <div>
            <label>E-mail</label>
            <input name="user_email" type="text" placeholder="email" value="{{(user_email or '')}}">
        </div>

        %if error == "user_email":
        <p class="error">
            Enter a valid e-mail
        </p>
        %end

        <div>
            <label>Password</label>
            <input name="user_password" type="password" placeholder="password">
        </div>
        <p class="text-support">(min 6, max 50 characters)</p>

        %if error == "user_password":
        <p class="error">
            Enter a valid password
        </p>
        %end

        <button>Signup</button>
    </form>

</main>

% include("footer")